<div class="line-item-property__field u4a-select-patch-holder left-shoulder-patch hidden">
  <div>
    <span title="Price includes tailoring and patch">Select Left Shoulder Patch Design</span>
  </div>
  <div class="u4a-patch-value"></div>
  <label for="left-shoulder-company-patches-stock">
    <input
      type="radio"
      data-amount="0"
      name="properties[Left Shoulder Patch Design]"
      value="Company Patches In Stock"
      id="left-shoulder-company-patches-stock"
      required
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/patches-in-stock-b.jpg"
      loading="lazy"
      width="67"
      height="67"
    >
  </label>
  <label for="left-shoulder-will-send-patches">
    <input
      type="radio"
      data-amount="0"
      name="properties[Left Shoulder Patch Design]"
      value="Will Send Patches"
      id="left-shoulder-will-send-patches"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/sending-patches-b.jpg"
      loading="lazy"
      width="67"
      height="67"
    >
  </label>

  {%- if settings.patches.E07 == true -%}
    <label for="left-shoulder-e07-security-shoulder-emblem-whitegold-on-blackgold">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Shoulder Patch Design]"
        value="E07 - Security Shoulder Emblem (White/gold On Black/gold) +$0.99"
        id="left-shoulder-e07-security-shoulder-emblem-whitegold-on-blackgold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E07.jpg" loading="lazy" width="67" height="67">
    </label>
  {% endif %}

  <label for="left-shoulder-e08-security-shoulder-patch-whitegold-on-blackblue">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E08 - Security Shoulder Patch (White/gold On Black/blue) +$0.99"
      id="left-shoulder-e08-security-shoulder-patch-whitegold-on-blackblue"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E08.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e24-private-security-officer-shoulder-patch-bluewhite">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E24 - Private Security Officer Shoulder Patch (Blue/white) +$0.99"
      id="left-shoulder-e24-private-security-officer-shoulder-patch-bluewhite"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E24.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e25-private-security-officer-shoulder-patch-goldwhite">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E25 - Private Security Officer Shoulder Patch (Gold/white) +$0.99"
      id="left-shoulder-e25-private-security-officer-shoulder-patch-goldwhite"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E25.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e27-private-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E27 - Private Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e27-private-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E27.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e28-private-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E28 - Private Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e28-private-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E28.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e29-private-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E29 - Private Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e29-private-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E29.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e31-private-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E31 - Private Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e31-private-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E31.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e39-private-security-emblem-goldblue-on-black">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E39 - Private Security Emblem (Gold/blue On Black) +$0.99"
      id="left-shoulder-e39-private-security-emblem-goldblue-on-black"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E39.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e40-private-security-emblem-gold-on-black">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E40 - Private Security Emblem (Gold On Black) +$0.99"
      id="left-shoulder-e40-private-security-emblem-gold-on-black"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E40.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e41-emt-emblems-los-angeles-county">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E41 - Emt Emblems - Los Angeles County +$0.99"
      id="left-shoulder-e41-emt-emblems-los-angeles-county"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E41.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e48-emt-emblem-blue-on-white">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E48 - Emt Emblem (Blue On White) +$0.99"
      id="left-shoulder-e48-emt-emblem-blue-on-white"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E48.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e50-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E50 - Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e50-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E50.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e51-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E51 - Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e51-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E51.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e52-security-officer-shoulder-patches-multiple-colors">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E52 - Security Officer Shoulder Patches (Multiple Colors) +$0.99"
      id="left-shoulder-e52-security-officer-shoulder-patches-multiple-colors"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E52.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e54-gold-on-black-security-officer-shoulder-patch">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E54 - Gold On Black Security Officer Shoulder Patch +$0.99"
      id="left-shoulder-e54-gold-on-black-security-officer-shoulder-patch"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E54.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e59-security-officer-shoulder-emblem-gold-on-navy-blue">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E59 - Security Officer Shoulder Emblem (Gold On Navy Blue) +$0.99"
      id="left-shoulder-e59-security-officer-shoulder-emblem-gold-on-navy-blue"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E59.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e60-security-guard-shoulder-patch-royal-blue-on-white">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E60 - Security Guard Shoulder Patch (Royal Blue On White) +$0.99"
      id="left-shoulder-e60-security-guard-shoulder-patch-royal-blue-on-white"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E60.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e61-security-guard-shoulder-patch-white-on-black">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E61 - Security Guard Shoulder Patch (White On Black) +$0.99"
      id="left-shoulder-e61-security-guard-shoulder-patch-white-on-black"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E61.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e62-security-officer-shoulder-emblem-gold-on-black">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E62 - Security Officer Shoulder Emblem (Gold On Black) +$0.99"
      id="left-shoulder-e62-security-officer-shoulder-emblem-gold-on-black"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E62.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e63-security-officer-shoulder-emblem-gold-on-royal-blue">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E63 - Security Officer Shoulder Emblem (Gold On Royal Blue) +$0.99"
      id="left-shoulder-e63-security-officer-shoulder-emblem-gold-on-royal-blue"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E63.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e68-security-officer-shoulder-emblem-bluewhite">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E68 - Security Officer Shoulder Emblem (Blue/white) +$0.99"
      id="left-shoulder-e68-security-officer-shoulder-emblem-bluewhite"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E68.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e01-wavy-american-shoulder-emblem">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E01 - Wavy American Shoulder Emblem +$0.99"
      id="left-shoulder-e01-wavy-american-shoulder-emblem"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E01.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e02-left-shoulder-flag-stock-emblem">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E02 - Left Shoulder Flag Stock Emblem +$0.99"
      id="left-shoulder-e02-left-shoulder-flag-stock-emblem"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E02.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e102-right-shoulder-flag-stock-emblem">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E102 - Right Shoulder Flag Stock Emblem +$0.99"
      id="left-shoulder-e102-right-shoulder-flag-stock-emblem"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E102.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e03-wavy-american-flag-emblem-white-border">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E03 - Wavy American Flag Emblem (White Border) +$0.99"
      id="left-shoulder-e03-wavy-american-flag-emblem-white-border"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E03.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e82-ca-dept-of-correction-rehabilitation-shoulder-patch-4-½-x-3-¾">
    <input
      type="radio"
      data-amount="1.99"
      name="properties[Left Shoulder Patch Design]"
      value='E82 - Ca Dept. Of Correction Rehabilitation Shoulder Patch (4 ½" X 3 ¾") +$1.99'
      id="left-shoulder-e82-ca-dept-of-correction-rehabilitation-shoulder-patch-4-½-x-3-¾"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E82.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e303-la-county-sheriff-security-shoulder-patch-3-34-x-4-58">
    <input
      type="radio"
      data-amount="1.99"
      name="properties[Left Shoulder Patch Design]"
      value='E303 - La County Sheriff Security Shoulder Patch (3 3/4" X 4 5/8") +$1.99'
      id="left-shoulder-e303-la-county-sheriff-security-shoulder-patch-3-34-x-4-58"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E303.jpg" loading="lazy" width="67" height="67">
  </label>
  <label for="left-shoulder-e126l-security-american-flag-patch-left-side">
    <input
      type="radio"
      data-amount="1.99"
      name="properties[Left Shoulder Patch Design]"
      value="E126L - Security American Flag Patch - Left Side +$1.99"
      id="left-shoulder-e126l-security-american-flag-patch-left-side"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E126-LEFT-FLAG.jpg"
      loading="lazy"
      width="67"
      height="67"
    >
  </label>
  <label for="left-shoulder-e224-us-flag-emblems-left-shoulder-greyblack">
    <input
      type="radio"
      data-amount="0.99"
      name="properties[Left Shoulder Patch Design]"
      value="E224 - U.s. Flag Emblems - Left Shoulder (Grey/black) +$0.99"
      id="left-shoulder-e224-us-flag-emblems-left-shoulder-greyblack"
    >
    <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E224.jpg" loading="lazy" width="67" height="67">
  </label>
</div>
