<div class="line-item-property__field u4a-select-patch-holder left-chest-patch hidden">
  <div> 
    <span title="Price includes tailoring and patch">Select Left Chest Patch Design</span>
  </div>
  <div class="u4a-patch-value"></div>
  <label for="left-chest-patch-company-patches-stock">
    <input
      type="radio"
      data-amount="0"
      name="properties[Left Chest Patch Design]"
      value="Company Patches In Stock"
      id="left-chest-patch-company-patches-stock"
      required
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/patches-in-stock-b_small.jpg?v=5974470739622553800"
      loading="lazy"
      width="67"
      height="67"
    >
  </label>
  <label for="left-chest-patch-will-send-patches">
    <input
      type="radio"
      data-amount="0"
      name="properties[Left Chest Patch Design]"
      value="Will Send Patches"
      id="left-chest-patch-will-send-patches"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/sending-patches-b.jpg"
      loading="lazy"
      width="67"
      height="67"
    >
  </label>

    <label for="left-chest-patch-e01-wavy-american-shoulder-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E01 - Wavy American Shoulder Emblem +$0.99"
        id="left-chest-patch-e01-wavy-american-shoulder-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E01.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e02-left-shoulder-flag-stock-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E02 - Left Shoulder Flag Stock Emblem +$0.99"
        id="left-chest-patch-e02-left-shoulder-flag-stock-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E02.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e03-wavy-american-flag-emblem-white-border">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E03 - Wavy American Flag Emblem (White Border) +$0.99"
        id="left-chest-patch-e03-wavy-american-flag-emblem-white-border"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E03.jpg" loading="lazy" width="67" height="67">
    </label>
    <label for="left-chest-patch-e04-security-officer-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E04 - Security Officer Chest Emblem +$0.99"
        id="left-chest-patch-e04-security-officer-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E04.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e05-us-flag-emblem-subdued-green">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E05 - Us Flag Emblem (Subdued Green) +$0.99"
        id="left-chest-patch-e05-us-flag-emblem-subdued-green"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E05.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e06-security-chest-emblem-gold-black">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E06 - Security Chest Emblem (Gold On Black) +$0.99"
        id="left-chest-patch-e06-security-chest-emblem-gold-black"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E06.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e12-private-security-officer-chest-patch-blue-gold">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E12 - Private Security Officer Chest Patch (Blue On Gold) +$0.99"
        id="left-chest-patch-e12-private-security-officer-chest-patch-blue-gold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E12.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e15-security-officer-chest-emblem-white-black">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E15 - Security Officer Chest Emblem (White On Black) +$0.99"
        id="left-chest-patch-e15-security-officer-chest-emblem-white-black"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E15.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e18-security-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E18 - Security Chest Emblem +$0.99"
        id="left-chest-patch-e18-security-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E18.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e26-security-officer-chest-emblem-black-gold">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E26 - Security Officer Chest Emblem (Black On Gold) +$0.99"
        id="left-chest-patch-e26-security-officer-chest-emblem-black-gold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E26.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e37-police-emblem-silvergold">
      <input
        type="radio"
        data-amount="1.99"
        name="properties[Left Chest Patch Design]"
        value="E37 - Police Emblem (Silver/gold) +$1.99"
        id="left-chest-patch-e37-police-emblem-silvergold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E37.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e38-police-emblem-silvergold">
      <input
        type="radio"
        data-amount="1.99"
        name="properties[Left Chest Patch Design]"
        value="E38 - Police Emblem (Silver/gold) +$1.99"
        id="left-chest-patch-e38-police-emblem-silvergold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E38.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e64-security-officer-chest-emblem-silver-silver">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E64 - Security Officer Chest Emblem (Silver On Silver) +$0.99"
        id="left-chest-patch-e64-security-officer-chest-emblem-silver-silver"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E64.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e65-security-enforcement-officer-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E65 - Security Enforcement Officer Chest Emblem +$0.99"
        id="left-chest-patch-e65-security-enforcement-officer-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E65.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e70-security-enforcement-officer-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E70 - Security Enforcement Officer Chest Emblem +$0.99"
        id="left-chest-patch-e70-security-enforcement-officer-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E70.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e71-security-enforcement-officer-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E71 - Security Enforcement Officer Chest Emblem +$0.99"
        id="left-chest-patch-e71-security-enforcement-officer-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E71.jpg" loading="lazy" width="67" height="67">
    </label>

      <label for="left-chest-patch-e72-security-officer-chest-emblem-gold-gold">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E72 -Security Officer Chest Emblem (Gold On Gold) +$0.99"
        id="left-chest-patch-e72-security-officer-chest-emblem-gold-gold"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E72.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e74-security-officer-chest-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E74 - Security Officer Chest Emblem +$0.99"
        id="left-chest-patch-e74-security-officer-chest-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E74.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e102-right-shoulder-flag-stock-emblem">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E102 - Right Shoulder Flag Stock Emblem +$0.99"
        id="left-chest-patch-e102-right-shoulder-flag-stock-emblem"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E102.jpg" loading="lazy" width="67" height="67">
    </label>

    <label for="left-chest-patch-e103-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E103 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e103-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E103.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e104-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E104 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e104-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E104.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e105-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E105 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e105-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E105.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e106-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E106 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e106-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E106.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e107-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E107 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e107-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E107.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e108-chestcap-security-emblems">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E108 - Chest/cap Security Emblems +$0.99"
        id="left-chest-patch-e108-chestcap-security-emblems"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E108.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-er02w-reflective-security-emblems-chest-back">
      <input
        type="radio"
        data-amount="4.99"
        name="properties[Left Chest Patch Design]"
        value="ER02W - Reflective Security Emblems (Chest Or Back) +$4.99"
        id="left-chest-patch-er02w-reflective-security-emblems-chest-back"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/ER02W.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-er05-reflective-security-emblems-chest-back">
      <input
        type="radio"
        data-amount="4.99"
        name="properties[Left Chest Patch Design]"
        value="ER05 - Reflective Security Emblems (Chest Or Back) +$4.99"
        id="left-chest-patch-er05-reflective-security-emblems-chest-back"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/ER05.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e83-ca-dept-correction-rehabilitation-chest-patch-3-3">
      <input
        type="radio"
        data-amount="1.99"
        name="properties[Left Chest Patch Design]"
        value="E83 - Ca Dept. Of Correction Rehabilitation Chest Patch (3*3) +$1.99"
        id="left-chest-patch-e83-ca-dept-correction-rehabilitation-chest-patch-3-3"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E83.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e126l-security-american-flag-patch-left-side">
      <input
        type="radio"
        data-amount="1.99"
        name="properties[Left Chest Patch Design]"
        value="E126L - Security American Flag Patch - Left Side +$1.99"
        id="left-chest-patch-e126l-security-american-flag-patch-left-side"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E126-LEFT-FLAG.jpg"
        loading="lazy"
        width="67"
        height="67"
      >
    </label>
  
    <label for="left-chest-patch-e126r-security-american-flag-patch-right-side">
      <input
        type="radio"
        data-amount="1.99"
        name="properties[Left Chest Patch Design]"
        value="E126R - Security American Flag Patch - Right Side +$1.99"
        id="left-chest-patch-e126r-security-american-flag-patch-right-side"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E126R-RIGHT-FLAG.jpg"
        loading="lazy"
        width="67"
        height="67"
      >
    </label>
  
    <label for="left-chest-patch-e224-us-flag-emblems-left-shoulder-greyblack">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E224 - U.s. Flag Emblems - Left Shoulder (Grey/black) +$0.99"
        id="left-chest-patch-e224-us-flag-emblems-left-shoulder-greyblack"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E224.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e225-us-flag-patch-right-shoulder-greyblack">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E225 - U.s. Flag Patch - Right Shoulder (Grey/black) +$0.99"
        id="left-chest-patch-e225-us-flag-patch-right-shoulder-greyblack"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/E225.jpg" loading="lazy" width="67" height="67">
    </label>
  
    <label for="left-chest-patch-e40-private-security">
      <input
        type="radio"
        data-amount="0.99"
        name="properties[Left Chest Patch Design]"
        value="E40 - Private Security +$0.99"
        id="left-chest-patch-e40-private-security"
      >
      <img src="https://cdn.shopify.com/s/files/1/0597/2452/9838/files/e_40.jpg" loading="lazy" width="67" height="67">
    </label>
</div>
